# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\hanne\OneDrive - NTNU\Desktop\2021 vår\sanntid\project-network\Network-go\network\sendandreceive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
